apiVersion: v1
kind: Service
metadata:
  name: iam-db-$BUILD_NUMBER
  labels:
    app: iam-deploy-test
spec:
  ports:
  - name: mysql
    port: 3306
  selector:
    app: iam-deploy-test
    tier: db
  clusterIP: None

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: iam-db-$BUILD_NUMBER
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: iam-deploy-test
        tier: db
    spec:
      nodeSelector:
        role: worker
      containers:
      - name: iam-db
        image: mariadb:latest
        ports:
        - containerPort: 3306
          name: mysql
        resources:
          requests:
            cpu: 500m
            memory: 500Mi
          limits:
            memory: 500Mi
        env:
        - name: MYSQL_USER
          value: iam
        - name: MYSQL_PASSWORD
          value: pwd
        - name: MYSQL_DATABASE
          value: iam
        - name: MYSQL_ROOT_PASSWORD
          value: pwd
